Demineur/res/schema.xsd

 <?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="ranking">
  <xs:complexType>
    <xs:sequence>
      
      <xs:element name="player" maxOccurs="unbounded" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="points" type="xs:integer"/>
          </xs:sequence>
          <xs:attribute name="username" type="xs:string" use="required"/>
          <xs:attribute name="password" type="xs:string" use="required"/>
        </xs:complexType>
      </xs:element>
      
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>
